{{#extends "base"}}

{{#block "content"}}
<form method="POST">
    <label for="search" class="form-label">Model or Brand</label>
    <input type="text" name="searchTerms" class="form-control" />

    <input type="submit" class="btn btn-primary mt-2 ms-2" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <td>Model</td>
            <td>Brand</td>
            <td>State of Watch</td>
            <td>Price</td>
            <td>Date of Watch</td>
        </tr>
    </thead>
    <tbody>
        {{#each watch}}
        <tr>
            <td>{{this.model}}</td>
            <td>{{this.brand}}</td>
            <td>{{this.state_of_watch}}</td>
            <td>{{this.price}}</td>
            <td>{{this.date_of_watch}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}