{{#extends "base"}}
{{#block "content"}}

<table class="table">
    <thead>
        <tr>
            <td>Date of transaction</td>
            <td>Transaction amount</td>
            <td>Customer</td>
            <td>Watch</td>
        </tr>
    </thead>
    <tbody>
        {{#each customer}}
        <tr>
            <td>{{this.date_of_transaction}}</td>
            <td>{{this.transaction_amount}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.watch_id}}</td>
            <td>
                <a href="/transaction/{{this.transaction_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                <a href="/transaction/{{this.transaction_id}}/update" class="btn btn-success btn-sm">Update</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form action="/transaction/search" method="get">
    <button type="submit">Search</button>
</form>

<form action="/transaction/create" method="get" style="margin-top: 10px;">
    <button type="submit">Create</button>
</form>

{{/block}}
{{/extends}}